FIREBASE_API_KEY=AIzaSyDcIz2sZ2S7uf6bJm-uC0eNlYlnorFEyv4
FIREBASE_AUTH_DOMAIN=crowdfans-dev-e9703.firebaseapp.com
FIREBASE_PROJECT_ID=crowdfans-dev-e9703
FIREBASE_STORAGE_BUCKET=crowdfans-dev-e9703.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=831877043516
FIREBASE_APP_ID=1:831877043516:web:ff725e9f6c5b0a5a2a7a39

API_MODE=digitalocean
API_LOCAL_BASE_URL=http://localhost:8080
API_DIGITALOCEAN_BASE_URL=https://crowdfans-app-dev-3zqbt.ondigitalocean.app
# API_BASE_URL=
